/* whole-page things */

body {
    font-family: 'Source Code Pro', Courier, monospace;
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 0px 0px;
    scroll-behavior: smooth;
}

* {
    --font-16: max(10px, min(16px, 4vw, 8vh));
    --font-18: max(10px, min(18px, 4vw, 9vh));
    --font-20: max(10px, min(20px, 5vw, 10vh));
    --font-24: max(12px, min(24px, 5vw, 12vh));
    --font-28: max(14px, min(28px, 7vw, 13vh));
    --font-32: max(14px, min(32px, 8vw, 14vh));
    --font-40: max(16px, min(40px, 9vw, 16vh));
    --font-48: max(18px, min(48px, 10vw, 18vh));
    --font-small: var(--font-18);
    --font-medium: var(--font-24);
    --font-large: var(--font-32);
    --font-huge: var(--font-48);
    --font-huge-title: min(12.5vw, 20vh);
    --font-title: min(10vw, 15vh);
    --font-subtitle: min(10vw, 7vh);
    --font-subsubtitle: min(5vw, 5vh);
}

::selection {
    background-color: rgba(0, 255, 0, 0.7);
    color: black;
    text-shadow: none !important;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

/* common stuff used everywhere */

.centered {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.invisible {
    visibility: hidden;
    /* opacity: 0; */
    /* pointer-events: none; */
}

.hidden {
    display: none;
}

/* more font stuff */

h1 {
    font-size: var(--font-huge);
    font-weight: 700;
    font-family: 'Source Code Pro', Courier, monospace;
    line-height: 1.1em;
    margin: 0.2em 0px;
}

h2 {
    font-size: var(--font-large);
    font-weight: 600;
    font-family: 'Source Code Pro', Courier, monospace;
    line-height: 1.1em;
    margin: 0.2em 0px;
}

h3 {
    font-size: var(--font-medium);
    font-weight: 600;
    font-family: 'Source Code Pro', Courier, monospace;
    line-height: 1.1em;
    margin: 0.2em 0px;
}

p {
    font-size: var(--font-medium);
    margin: 8px 8px;
    text-align: justify;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a {
    color: lime;
}

code {
    padding: 0px 0.3em;
    font-family: 'Source Code Pro', Courier, monospace;
    background-color: #FFF3;
    border-radius: 0.2em;
}

codeblock {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin: 0.3em 0em;
    padding: 0.6em 0.6em;
    font-family: 'Source Code Pro', Courier, monospace;
    background-color: #FFF3;
    border-radius: 0.2em;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    overflow-x: auto;
}

ul {
    margin: 0px 0px;
}

/* scroll bars */

@supports selector(::-webkit-scrollbar) {
    *::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        background-color: #222;
    }

    *::-webkit-scrollbar-thumb {
        background-clip: padding-box;
        background-color: #555;
    }

    *::-webkit-scrollbar-thumb:vertical {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
    }

    *::-webkit-scrollbar-thumb:horizontal {
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #5A5A5A;
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: #4A4A4A;
    }

    *::-webkit-scrollbar-button {
        width: 16px;
        height: 16px;
        background-color: #222;
    }

    *::-webkit-scrollbar-button:hover {
        background-color: #444;
    }

    *::-webkit-scrollbar-button:active {
        background-color: #777;
    }

    *::-webkit-scrollbar-button:single-button {
        background-size: 12px 12px;
        background-position: center;
        background-repeat: no-repeat;
    }

    *::-webkit-scrollbar-button:single-button:vertical:decrement {
        background-image: url(/assets/arrow-up.svg);
    }

    *::-webkit-scrollbar-button:single-button:vertical:increment {
        background-image: url(/assets/arrow-down.svg);
    }

    *::-webkit-scrollbar-button:single-button:horizontal:decrement {
        background-image: url(/assets/arrow-left.svg);
    }

    *::-webkit-scrollbar-button:single-button:horizontal:increment {
        background-image: url(/assets/arrow-right.svg);
    }

    *::-webkit-scrollbar-corner {
        background-color: #222;
    }
}

@supports (not (selector(::-webkit-scrollbar))) {
    * {
        scrollbar-color: #555 #222;
    }
}